<div class='room-on-top room-on-bottom center-my-children sidebar-offcanvas' id='sidebar' role='navigation'>
  <ul class="nav">
    <li>
      <%= link_to 'Home', store, class: 'btn btn-block room-on-top' %>
      <%= link_to 'Blog', [store, store.blog] %>
      <% if policy(Favorite.new).create? %>
        <%= render partial: 'favorites/favorite', locals: { store: store } %>
      <% end %>
    </li>
    <li>
      <a href='<%= "#{ store.facebook_url }" %>'>
        <%= image_tag('facebook.png') %></br>
        Facebook
      </a>
    </li>
    <li>
      <a href='<%= "#{ store.instagram_url }" %>'>
        <%= image_tag('instagram.png') %></br>
        Instagram
      </a>
    </li>
    <li>
      <a href='<%= "#{ store.twitter_url }" %>'>
        <%= image_tag('twitter.png') %></br>
        Twitter
      </a>
    </li>
    <li>
      <a href='<%= "#{ store.tumblr_url }" %>'>
        <%= image_tag('tumblr.png') %></br>
        Tumblr
      </a>
    </li>
  </ul>
</div>
