<div class="row well-white">
  <div class="col-sm-10">
    <h1 class="center-my-children">
      <%= @store.name %>
      <% if policy(@store).update? %>
        <%= link_to 'Edit', edit_store_path(@store), class: 'btn btn-default' %>
        <%= link_to 'Delete', store_path(@store), action: :destroy, class: 'btn btn-danger' %>
      <% end %>
    </h1>
    <%= image_tag(@store.storefront.url, class: :wide) if @store.storefront? %>
    <div class="divider"></div>
    <h5 class="text-muted">
      <%= @store.description %>
    </h5>
    <div class="divider"></div>
  </div>
  <div class="col-sm-2">
    <%= render partial: 'stores/side_bar', locals: { store: @store } %>
  </div>
</div>
<div class="row well-white container">
  <h1>
    Items <small><%= link_to "#{ fa_icon('plus') }".html_safe, new_store_item_path(@store) %></small>
  </h1>
  <% policy_scope(@store.items).each do |item| %>
    <%= render partial: 'items/item_preview', locals: {item: item} %>
  <% end %>
</div>
