<%= form_for(@item, url: @item.new_record? ? store_items_path(@item.store) : item_path(@item)) do |f| %>

  <%= render 'layouts/form_error', record: @item %>

  <div class="row">
    <% if @item.image? %>
      <div class="form-group col-sm-12">
        <div class="form-group">
          <%= f.label :image, class: 'text-muted' %><br>
          <%= image_tag(@item.image.url ) %>
        </div>
      </div>
    <% end %>
    <div class="form-group col-sm-12">
      <%= f.label :image, class: 'text-muted' %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-12">
      <%= f.label :name, class: 'text-muted' %>
      <%= f.text_field :name, placeholder: 'Blamazon.com', class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <%= f.label :description, class: 'text-muted' %>
      <%= f.text_area :description, placeholder: 'Online retailer of books, movies, music and games along with electronics, toys, apparel, sports, tools, groceries and general home and garden items.', class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12">
      <%= f.label :price, class: 'text-muted' %>
      <%= f.number_field :price, placeholder: 99, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group col-sm-12">
    <%= f.submit @item.new_record? ? 'Create Item' : 'Update Item',
                 class: 'btn btn-primary btn-lg btn-block' %>
    <% if !@item.new_record? && policy(@item).destroy? %>
      <br>
      <%= link_to "Delete Item",
                  store_item_path(@item.store),
                  method: :delete,
                  class: 'btn btn-danger btn-lg btn-block',
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
