<div class="row well-white">
  <div class="col-sm-10">
    <h2 class="text-muted">
      <%= @item.name %>
      <small>
        $<%= @item.price %>
      </small>
      <%= add_or_remove_image_from_cart_button(@item, 'btn btn-primary btn-sm') %>
    </h2>
    <%= image_tag(@item.image.url, class: :square) if @item.image? %>
    <div class="divider"></div>
    <h5 class="text-muted">
      <%= markdown_to_html(@item.description) %>
    </h5>
  </div>
</div>
