<div class="row well-white">
  <div class="col-sm-10">
    <h1 class="center-my-children"><%= @store.name %> </h1>
    <div class="container">
      <%= render 'items/item' %>
      <div>
        <h3>Comments</h3>
        <div class='js-comments col-sm-10'>
          <%= render @item.comments %>
        </div>
      </div>
      <% if current_user %>
        <div class='new-comment col-sm-12'>
          <%= render 'comments/form', comment: Comment.new, item: @item %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-2">
    <%= render partial: 'stores/side_bar', locals: { store: @store } %>
  </div>
</div>
