<header class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <span>VGEW</span>
      <%= image_tag('handshake.png', height: "40px", class: "logo") %>
    </a>
  </div>
  <% if current_user %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="top-nav-item"><%= link_to "#{ fa_icon('plus') } &nbsp; Stores".html_safe, "#" %></li>
        <li class="top-nav-item"><%= link_to "#{ fa_icon('shopping-cart') } &nbsp; Cart".html_safe, "#" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= avatar_for_user(current_user, 30) %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <li><%= link_to "#{ fa_icon(:user)  } &nbsp; User Profile".html_safe, current_user %></li>
              <li><%= link_to "#{ fa_icon(:plus)  } &nbsp; Place Holder".html_safe, "#" %></li>
              <li><%= link_to "#{ fa_icon(:plus)  } &nbsp; Place Holder".html_safe, "#" %></li>
              <li><%= link_to "#{ fa_icon(:plus)  } &nbsp; Place Holder".html_safe, "#" %></li>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "#{ fa_icon('sign-out') } &nbsp; Sign Out".html_safe,
                          destroy_user_session_path,
                          method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% else %>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">

      <li>
        <%= link_to "#{ fa_icon('sign-in') } &nbsp; Sign In".html_safe,
                    new_user_session_path %>
      </li>
      <li>
        <%= link_to "#{ fa_icon('user-plus') } &nbsp; Sign Up".html_safe,
                    new_user_registration_path %>
      </li>
    </ul>
  </div>

  <% end %>
</header>
