<!DOCTYPE html>
<html>
<head>
  <title>Very Good Ecommerce Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if controller_name == 'customers' %>
    <%= javascript_include_tag "https://js.stripe.com/v1/",
                               "application",
                               "data-turbolinks-track" => true %>
    <%= tag :meta, name: 'stripe-key', content: StripeCredentials::PUBLIC_KEY %>
  <% else %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrap">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/alert' %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
